# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
https://docs.google.com/document/d/18x0upqE4WVD6z4CE0Qsw6v_9w39GRXKlPq7je-Tpb-8/edit?usp=drivesdk

